<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SuparAdmin Dashboard</title>
  <link rel="stylesheet" href="/styles/suparAdmin.css"> <!-- Update this path if necessary -->
</head>
<body>

  <%- include('suparAdmin_layout') %>
 

    

  <h1>Welcome to the SuparAdmin Dashboard</h1>
 
</body>
</html>
 